<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
	<!ELEMENT packages (package*)>
	<!ELEMENT package EMPTY>
	<!ATTLIST package
  id CDATA #REQUIRED
  version CDATA #REQUIRED
  targetFramework CDATA #REQUIRED
  developmentDependency CDATA #IMPLIED>
]>
<packages>
  <package id="DllExporterNet4" version="2.1.0" targetFramework="net48" />
  <package id="EasyHook" version="2.7.7097" targetFramework="net48" />
</packages>